<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BasicInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.BasicInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name
  </sql>
  <insert id="insert" parameterType="com.example.demo.entity.BasicInfo">
    insert into basic_info (id, name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>

  <insert id="addBatch" parameterType="com.example.demo.entity.BasicInfo">
    insert into basic_info (id, name)
    values
      <foreach collection="collection" item="basicInfo" separator="," >
          (#{basicInfo.id,jdbcType=INTEGER}, #{basicInfo.name,jdbcType=VARCHAR})
      </foreach>
  </insert>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select
    <include refid="Base_Column_List"/>
        from basic_info
    where  id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getByParam" parameterType="com.example.demo.entity.BasicInfo" resultType="java.lang.Integer">
      select count(1) from basic_info
      where
      <if test="id != null ">
          id = #{id,jdbcType=INTEGER}
      </if>

      <if test="name != null ">
          name = #{name,jdbcType=VARCHAR}
      </if>

  </select>

    <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.BasicInfo">
        update basic_info
        set name = #{name,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getAllById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from basic_info
        where
        id in
        <foreach collection="collection" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getByNames" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from basic_info
        where
        name in
        <foreach collection="collection" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>

    <delete id="deleteByList" parameterType="java.lang.Integer">
        delete
        from basic_info
        where
        id in
        <foreach collection="collection" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>